
.messages{
    width: 100%;
    height: 100%;
    &_left{
        width: 100%;
        @include flexbox;
        justify-content: flex-end;
        padding-top: 15px;
        flex-direction: row-reverse;
        &_avatar{
            width: 35px;
            height: auto;
            align-items: flex-end;
            div {
                height: 32px;
                width:32px;
                border-radius: 25px;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 25px;
                    object-fit: cover;
                }
            }
        }
        &_group{
            margin-left: 7px;
            max-width: 100%;
            width: 100%;
            @include flexbox;
            flex-direction: column;
            &_box{
                @include flexbox;
                justify-content: flex-start;
                max-width: 65%;
                flex-direction: column;
                &_content{
                    width: fit-content;
                    @include shadow_chat();
                    border-radius: 5px;
                    background-color: #f2f2f2;
                    color: #242b31;
                    margin-bottom: 10px;
                    &_message{
                        margin: 0;
                        width: fit-content;
                        position: relative;
                        padding: 10px;
                        text-align: left;
                        height: auto;
                        margin: 0 0 10px 10px;
                        font-size: 16px;
                        @include shadow_chat();
                        border-radius: 5px;
                        background-color: #f2f2f2;
                        color: #242b31;
                        line-height: 1.57;
                    }
                    &_time{
                        margin-bottom: 10px;
                        margin-left: 4px;
                        color: #505f78;
                        font-size: 14px;
                        text-align: left;
                        font-style: italic;
                        padding-left: 8px;
                        &_sending{
                            color: #f4a239;
                            padding-left: 5px;
                        }
                    }
                }

            }

        }
    }
    &_right{
        width: 100%;
        @include flexbox;;
        padding-top: 15px;
        flex-direction: row;
        justify-content: flex-end;
        &_avatar{
            width: 35px;
            height: auto;
            div{
                height: 32px;
                width:32px;
                border-radius: 25px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 25px;
                }
            }
        }

        &_group{
            padding-right: 10px;
            height: auto;
            @include flexbox;;
            max-width: 65%;
            justify-content: flex-end;
            flex-direction: column;
            &_box{
                @include flexbox;;
                width: 100%;
                justify-content: flex-end;
                &_content{
                    width: fit-content;
                    @include shadow_chat();
                    border-radius: 5px;
                    background-color: #edf5ff;
                    color: #242b31;
                    margin-bottom: 10px;
                }
            }
        }
    }

}

.message_container{
    max-width: 65%;
    height: 100%;
    @include flexbox;;
    flex-direction: column;
    align-items: flex-end;
    &_message{
        height: 100%;
        @include flexbox;;
        flex-direction: column;
        width: fit-content;
        &_ele{
            margin: 0;
            padding: 10px;
            text-align: left;
            height: auto;
            font-size: 14px;
            color: #242b31 !important;
            word-break: break-word;
            &_file{
                color: #242b31 !important;
                }
            }
            &_video{
                width: 100%;
                height: 100%;
                border-radius: 5px;
                background-color: #ffffff;
                video{
                    border-radius: 5px;
                }
            }
    }
    &_image{
        margin-bottom: 7px;
        text-align: right;
        width: 100%;
        height: 100%;
        @include flexbox;;
        justify-content: flex-end;
        flex-direction: column;
        &_wrap{
            width: 100%;
            height: 100%;
            margin-bottom: 10px;
            margin: 3px;
            border-radius: 2px;
            background-color: #ffffff;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
        }
    }
    &_time{
        margin-bottom: 10px;
        color: #505f78;
        font-size: 12px;
        font-style: italic;
        padding-left: 8px;
        &.align_left{
            text-align: left;
        }
        &.align_right{
            text-align: right;
        }
        &_sending{
            color: #f4a239;
            padding-left: 5px;
            font-size: 14px;
        }
    }
}
.message_attachments{
    width: 100%;
    @include flexbox;;
    justify-content: flex-end;
    flex-wrap: wrap ;
}

.message_admin{
    .message_admin_img{
        box-shadow: 3px 3px 6px 0 rgb(112,112,112),
                    -3px -3px 6px 0 #ccc;
        margin-bottom: 7px;
        border-radius: 50%;
    }
    img{
        width: 100% ;
        object-fit: cover;
        height: 100%;

    }
    &_content{
        color: rgb(60, 62, 96);
        font-size: 14px;
        margin-bottom: 15px;
        span{
            font-weight: 600;
            padding-right: 3px;
        }
    }

}
.pointer{
    cursor: pointer;
}