.pagination {
    ul{
        margin: 0 10px;
        li{
            border: 1px solid #393c42;
            margin: 0;
        }
    }
    .icon {
        a{
            color: #fff;
        }
    }
}